<!--Footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-white footerdiv ">
                <span class="footer-heading">Featured Links</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20px; margin-bottom: 15px; margin-left: 12px;"></div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="marker-shape">
                            <li><a href="http://localhost:4000/about">About Us</a></li>
                            <li><a href="">Clubs</a></li>
                            <li><a href="about.html"> Dashboard</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="marker-shape">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div><!--row end-->
            </div>
            <div class="col-md-3 text-white footerdiv">
                <span class="footer-heading">For Admission</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20px; margin-bottom: 15px; margin-left: 12px;"></div>    
                <ul class="marker-shape">
                    <li><a href="about.html">9988776655</a></li>
                    <li><a href="contact.html">9988776655</a></li>
                    <li><a href="about.html">9988776655</a></li>
                </ul>
            </div>

            <div class="col-md-3 text-white footerdiv">
                <span class="footer-heading">ITM Gwalior Address</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20px; margin-bottom: 15px; margin-left: 12px;"></div>    
                <div style="margin-left: 10px;">
                    <i class="fa-solid fa-location-dot"></i>
                    <h6>ITM Campus,
                        Opp. Sithouli Railway Station,
                        NH-75 Sithouli, Jhansi Road,
                        Gwalior - 475001, ( M.P. ), INDIA</h6>
                    </div>
                   

            </div>
            <div class="col-md-3 text-white footerdiv">
                <span class="footer-heading">Ranking & Accreditation</span>
                <div class="bg-warning" style="width:70px; height:1px; margin-top: 20px; margin-bottom: 15px; margin-left: 12px;"></div>    
                <img src="https://www.itmgoi.in/assets/images/awads&ranking/NIRF-Logo-2023.webp.jpg" width="100%" class="mb-2">
                <img src="https://www.itmgoi.in/assets2/images/ariia_logo.jpg" width="100%">

            </div>


    </div>
</footer>
</body>

</html>